@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes greenFlash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

.green-flash {
  animation: greenFlash 0.2s;
}

@keyframes redFlash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

.red-flash {
  animation: redFlash 0.2s;
}
