@keyframes greenFlash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 255, 0, 0.2);
  }
  100% {
    background-color: transparent;
  }
}

.green-flash {
  animation: greenFlash 1s;
}

@keyframes redFlash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 0, 0, 0.2);
  }
  100% {
    background-color: transparent;
  }
}

.red-flash {
  animation: redFlash 1s;
}
